body {
  background: #1b1b1b;
  font-family: 'Raleway', sans-serif;
}

#app-name{
  color:white;
  position:absolute;
  top:20px;
  left:20px;
  font-size:5.5vw;
  font-weight:500;
}

#say{
  color:white;
  position:absolute;
  bottom:10px;
  right:10px;
  font-size:5.5vw;
  font-weight:500;
}

#back{
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  opacity:0.1;
}

img{
  display:block;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  width:80px;
  height:80px;
  z-index:10;
  position:absolute;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -40px 0 0 -40px;    
  border: 10px solid #121212; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
